

/* Workaround */
input[data-readonly] {
  pointer-events: none;
  background-color: #cdcdd333;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.wrapper-table-fixed {
  max-height: 350px;
  overflow-y: auto;
}

